* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #927DFC;
}


.input-range {
    accent-color: #927DFC;
}

.btn {
    background-color: #927DFC;
}

.btn:hover {
    background-color: #8d77fb;
    transition: all 0.2s ease-in-out;
}

input {
    accent-color: #8d77fb;
}